
/*Just added the body padding-bottom so scrolling is possible*/

body {
    padding-bottom: 2px;
    background-color: gray;
}

/*************************
page Section of Style Code
**************************/

.page {
    width: 100%;
    border: 1px solid slategray;
    background-color: gray;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1eml
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul a {
    text-decoration: none;
}

.page > article {
    margin-left: 200px;
    border-left: 1px solid black;
    padding: 1em;
    overflow: hidden;
}




/****************************
London Section of Style Code
 ***************************/

.containerLond {
	width: 100%;
	border: 1px solid slategray;
	background-color: #7FBF3F;
}


.containerLond > article {
    margin-left: 200px;
    border-left: 1px solid black;
    padding: 1em;
    overflow: hidden;
}



/***************************
Paris Section of Style Code
***************************/

.containerParis {
	width: 100%;
	border: 1px solid slategray;
	background-color: #3F7FBF;

}


.containerParis > article {
    margin-left: 200px;
    border-left: 1px solid black;
    padding: 1em;
    overflow: hidden;
}

/*Tokyo Section of Style Code*/ 

.containerTokyo {
	width: 100%;
	border: 1px solid slategray;
	background-color: #BF3F3F;
}

.containerTokyo > article {
    margin-left: 200px;
    border-left: 1px solid black;
    padding: 1em;
    overflow: hidden;
}

.bottomOfPage {
	width: 100%;
	border: 1px solid slategray;
	background-color: white;
}

.bottomOfPage > article {
    margin-left: 200px;
    border-left: 1px solid black;
    color: black;
    padding: 1em;
    overflow: hidden;
}


.expose {
    position:relative;
}

#overlay {
    background:rgba(0,0,0,0.5);
    display:none;
    width:100%; 
    height:100%;
    position:absolute; 
    top:0; 
    left:0; 
    z-index:99998;
}

/* really need to translate this into javscript for portability reasons */
/* This is the important part regarding button gradients */
/*gradient credit:  https://bootstrapbay.com/blog/bootstrap-button-styles/*/

.btn-primary.gradient {
	background: -moz-linear-gradient(top,  #33a6cc 50%, #0099cc 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#33a6cc), color-stop(50%,#0099cc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #33a6cc 50%,#0099cc 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33a6cc', endColorstr='#0099cc',GradientType=0 ); /* IE6-9 */
}

/*enable hover change color*/
.btn-primary.gradient:hover, .btn-primary.gradient:focus, .btn-primary.gradient:active, .btn-primary.gradient.active, .open > .dropdown-toggle.btn-primary {
	background: -moz-linear-gradient(top,  #66b2cc 50%, #33a6cc 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#66b2cc), color-stop(50%,#33a6cc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #66b2cc 50%,#33a6cc 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #66b2cc 50%,#33a6cc 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #66b2cc 50%,#33a6cc 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #66b2cc 50%,#33a6cc 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66b2cc', endColorstr='#33a6cc',GradientType=0 ); /* IE6-9 */
}



/*Darken when clicked*/

.btn-primary.gradient:active, .btn-primary.gradient.active {
	background: -moz-linear-gradient(top,  #267c99 50%, #007299 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#267c99), color-stop(50%,#007299)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #267c99 50%,#007299 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #267c99 50%,#007299 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #267c99 50%,#007299 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #267c99 50%,#007299 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#267c99', endColorstr='#007299',GradientType=0 ); /* IE6-9 */
} 



/* Add diagonal gradient to tourGuide box*/
/*Credit: https://www.hongkiat.com/blog/css-gradient-border/*/
.box{
      /* margin: auto; */
	  background: #eee;

	  border: 4px solid transparent;

	  -moz-border-image: -moz-linear-gradient(top left, #3acfd5 0%, #3a4ed5 100%);
	  -webkit-border-image: -webkit-linear-gradient(top left, #3acfd5 0%, #3a4ed5 100%);
	  border-image: linear-gradient(to bottom right, #3acfd5 0%, #3a4ed5 100%);

	  border-image-slice: 1;
	  border-radius: "5px";
}
